html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

@font-face {
    font-family: 'Take coffee';
    src: url('../../Resources/tipography/Take\ Coffee.otf');
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:
        linear-gradient(rgba(153, 143, 90, 0.35), rgba(178, 183, 125, 0.35)),  /* Color con 50% de opacidad */
        url('../../Resources/img/Backgame.png');                 /* Imagen de fondo */
    /* background-size: cover;        Ajusta la imagen para cubrir el área */
    background-position: center;   /* Centra la imagen */
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 0em);
	height: calc(100vh - 0em);
    padding: 0;
}

#sensor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;              
    bottom: 0;                 
    left: 0;
    width: 100%;               
    z-index: 1000;             
}

#arrows1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 29%;
}

#arrows2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

#control img {
    width: 30%;
    height: 80%;
}

.flechas-column {
    position: relative; /* Necesario para posicionar elementos internos con posición absoluta */
    width: 30%; /* Ajusta según el diseño */
    height: 100%;
}

.flechas-column .tablero {
    width: 33.33%;      /* Cada flecha ocupa un tercio del contenedor */
    height: auto;       /* Ajusta la altura proporcionalmente si es necesario */
    position: absolute; 
}

#control {
    /* position: fixed;           Fijada en la parte inferior */
    bottom: 0;                 /* Colocada en la parte inferior */
    left: 0;
    width: 100%;               /* Todo el ancho */
    height: 10px;             /* Ajusta según necesidad */
    z-index: 1;              /* Debajo de .control */
    background-color: rgba(138, 91, 4, 0.5);
}

.tablero {
    width: 33.33%;   /* Cada flecha ocupa un tercio del contenedor */
    aspect-ratio: 1; /* Mantiene una proporción cuadrada */
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .flechas-column .figura {
    position: absolute;
    bottom: 50%; /* Coloca la figura en la mitad de la parte inferior del sensor */
    left: 50%;  /* Centrado horizontal */
    transform: translateX(-50%) translateY(50%); /* Asegura el centrado correcto */
    width: 33.33%;; /* Ajusta el tamaño de las figuras */
    z-index: 1; /* Si las flechas están por encima, este índice las dejará por debajo */
}

nav {
	background-color: #333;
	padding: 1em;
}

nav a {
	color: white;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#mug {
    width: 25%;
}

#lineatiempo {
	/* position: absolute; */
	top: 100px;
	left: calc((100vw - 400px - 3em) / 2);
	width: 400px;
	height: 50px;
}

#lineatiempo-bar {
	width: 100%;
	background-color: rgb(87, 152, 90);
	height: 100%;
    border-radius: 25em;
}

#lineavida {
	top: 20px;
	left: calc((100vw - 400px - 3em) / 2);
	width: 400px;
	height: 50px;
}

#lineavida-bar {
	width: 100%;
	background-color: rgb(230, 206, 70);
	height: 100%;
    border-radius: 25em;
}

#aciertos, #errores {
    font-size: 16pt;
    color: white;
    font-family: 'take coffee', sans-serif;
}

#text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}